################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/proyectoInventario7B/FileContentIndex/b0ede6e1-d37a-4de9-b481-191e6235af08.vsidx
